.body {
  background-image: url("download (44).jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: blue;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: verdana;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.topAd a {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: black
}

.topAd a:hover {
  color: blue;
}

.main {
  font-family: Arial, sans-serif;
  color: white;
  background-image: href= ('download (41).jpeg');
  background-repeat: no;
  margin-left: 160px;
  text-align:center;
  padding: 0px 10px;
}

.footer {
  font-family: Arial, sans-serif;
  color: white;
  background-color: black;
  background-image: url= ('download (42).jpeg');
  background-repeat: no-repeat;
  text-align: center;
  z-index: 2;
  padding: 0px 10px;
}
