.head {
  background
}

.body {
  background-repeat: no-repeat;
  background-color: #9fc5e8;
  background-size: cover;
}

.sidenav {
  height: 100%;
  background-color: black;
  width: 140px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a{
  color: white;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

sidenav a:hover{
  color: #1111;
}

main {
  margin-left: 140px;
}
h4 {
  text-color: white;
  font-family: arial;
  text-align: center;
}

h1 {
  text-color: black;
  font-family: verdana;
  text-align: center;
}

h2 {
  text-color:black;
  font-family: verdana;
  text-align: left;
}
