p {
    color: black;
    font-family: verdana;
    padding: 0px, 20px;
    text-align: center;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
    font-family: verdana;
    padding: 6px, 8px, 6px, 16px;
    color: white;
}

.sidenav a:hover {
    
h1 {
    color: black;
    font-family: verdana;
    padding: 0px, 20px;
    text-align: center;
}

h3 {
    color: black;
    font-family: verdana;
    padding: 0px, 20px;
    text-align: center;
}

a {
    color: black;
    font-family: arial;
    padding: 0px, 20px;
    text-align: center;
}

a:hover {
    color: aqua;
    font-family: arial;
}