p {
    color: black;
    font-family: verdana;
    padding: 0px, 20px;
    text-align: center;
}

h1 {
    color: black;
    font-family: verdana;
    padding: 0px, 20px;
    text-align: center;
}

h3 {
    color: black;
    font-family: verdana;
    padding: 0px, 20px;
    text-align: center;
}

a {
    color: black;
    font-family: arial;
    padding: 0px, 20px;
    text-align: center;
}

a:hover {
    color: aqua;
    font-family: arial;
}